.row
  .col-md-8.col-lg-8.col-sm-8.col-xs-8 
    .page-title
      = link_to raw("<i class='icon-custom-left'></i>"), car_types_path
      %h3
        Car Type  
  .col-md-4.col-lg-4.col-sm-4.col-xs-4 
    .pull-right= link_to 'Edit', edit_car_type_path(@car_type), class: "btn btn-success"


.row
  .col-md-12
    .grid.simple
      .grid-body 
        %p
          %b Type:
          = @car_type.name