.page-title
  %h3
    Alarms Notifications

.row
  .col-md-12
    .grid.simple
      .grid-body
        %table.table.no-more-tables
          %thead
            %tr
              %th Vehicle
              %th Alarm
              %th Triggered at
              %th
          %tbody           
            - @alarm_notifications.each do |alarm_notification|
              %tr
                %td= link_to alarm_notification.try(:car).try(:name), alarm_notification.car
                %td= link_to alarm_notification.try(:alarm).try(:name), alarm_notification.alarm
                %td= alarm_notification.created_at
                %td= link_to "Archive", archive_alarm_notification_path(alarm_notification)
%br


