.row
  .col-md-12
    .page-title
      %h3
        Alarms List 
        = link_to 'New', new_alarm_path, class: "btn btn-success btn-small"

.row
  .col-md-12
    .grid.simple
      .grid-body
        %table.table.no-more-tables
          %thead
            %tr
              %th Name
              %th
              %th
          %tbody
            - @alarms.each do |alarm|
              %tr
                / %td= link_to alarm.name, alarm, remote: true
                %td= link_to alarm.name, alarm
                %td
                  = link_to alarm, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                    %i.fa.fa-times
                    Destroy


/ = render 'modal'