.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h2
          = @alarm.name
      .grid-body.no-border
        .form-group         
          %b Rules :
        .form-group
          %ul
            - @alarm.rules.each do |rule|
              %li= rule_with_params(rule,@alarm)

        = link_to 'Edit', edit_alarm_path(@alarm)
        \|
        = link_to 'Back', alarms_path
