.row
  .col-md-12
    .page-title
      = link_to raw("<i class='icon-custom-left'></i>"), device_manufacturers_path
      %h3
        Edit Device Manufacturer
.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h4
          Device manufacturer 
          %span.semi-bold details
        .tools
          %a.collapse{href: "javascript:;"}
      .grid-body.no-border
        %br/
        .row
          .col-md-8.col-sm-8.col-xs-8
            = render 'form'
            = link_to 'Show', @device_manufacturer
