.page-title
  %h3
    Editing device manufacturer
.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        %h4
          Device manufacturer 
          %span.semi-bold details
        .tools
          %a.collapse{href: "javascript:;"}
          %a.config{"data-toggle" => "modal", href: "#grid-config"}
          %a.reload{href: "javascript:;"}
          %a.remove{href: "javascript:;"}
      .grid-body.no-border
        %br/
        .row
          .col-md-8.col-sm-8.col-xs-8
            = render 'form'

            = link_to 'Show', @device_manufacturer
            \|
            = link_to 'Back', device_manufacturers_path
