.row
  .col-md-8.col-lg-8.col-sm-8.col-xs-8 
    .page-title
      = link_to raw("<i class='icon-custom-left'></i>"), device_manufacturers_path
      %h3
        Device Manufacturer  
  .col-md-4.col-lg-4.col-sm-4.col-xs-4 
    .pull-right= link_to 'Edit', edit_device_manufacturer_path(@device_manufacturer), class: "btn btn-success"


.row
  .col-md-12
    .grid.simple
      .grid-body 
        %p
          %b Name:
          = @device_manufacturer.name
