<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @car.name %> </h1>
    <p><%= @alarm.name %></p>
  </body>
</html>