- if is_manager?(current_user)
  #count val="1"
  div
    = react_component "Home",
      carsOverviewPath: cars_overview_home_index_path,
      carsStatisticsPath: car_statistics_path,
      carsIndexPath: home_index_path,
      pinIcon: image_path('red_pin.png'),
      parkingIcon: image_path('map-icons/parking_icon.png'),
      carIcon: image_path('map-icons/car_icon.png'),
      emptyIcon: image_path('map-icons/empty_icon.png')
- else
  #map style="height: 600px;"
  = react_component "Driver",
    car: current_user.car,
    device: current_user.car.try(:device),
    user: current_user,
    last_location: current_user.car.locations.last,
    orders: Order.assigned_to(current_user.id, params[:filter])