#count val="1"
div
  = react_component "Home",
    carsOverviewPath: cars_overview_home_index_path,
    carsStatisticsPath: car_statistics_path,
    carsIndexPath: home_index_path,
    pinIcon: image_path('red_pin.png'),
    parkingIcon: image_path('map-icons/parking_icon.png'),
    carIcon: image_path('map-icons/car_icon.png'),
    emptyIcon: image_path('map-icons/empty_icon.png')
