.content
  .row
    .col-md-12
      .page-title
        %h3
          Companies 
  .row
    .col-md-12
      .grid.simple
        .grid-body 
          %table.table 
            %thead
              %tr
                %th Name
                %th
                %th
            %tbody
              - @companies.each do |company|
                %tr
                  %td= link_to company.name.capitalize, company
                  %td= link_to 'Edit', edit_company_path(company)
                  %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }
