.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
        .tools
          %a.collapse{href: "javascript:;"}
      .grid-title.no-border
        %h3
          Companies
      .grid-body.no-border
        %table.table.no-more-tables
          %thead
            %tr
              %th Name
              %th
              %th
              %th
          %tbody
            - @companies.each do |company|
              %tr
                %td= link_to company.name, company
                %td= link_to 'Edit', edit_company_path(company)
                %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }
