.row
  .col-md-8.col-lg-8.col-sm-8.col-xs-8
    .page-title
      %h3
        Reports
.row
  .col-md-12

    %ul.nav.nav-tabs#reporting_tab
      = render "tab_header"

    %div.tab-content
      %div.tab-pane.active#devices
        - if User.all.count == 0
          %h5 No data found
        - else
          = render_query_report
      %div.tab-pane#vehicles
      %div.tab-pane#simcards
