.row
  .col-md-6
    .page-title
      %h3
        Work schedules List 
  .col-md-6
    .pull-right= link_to 'Create', new_work_schedule_path, class: "btn btn-success"

.row
  .col-md-12
    .grid.simple
      .grid-body
        %table.table.no-more-tables
          %thead
            %tr
              %th Name
              %th

          %tbody           
            - @work_schedules.each do |work_schedule|
              %tr
                %td= link_to work_schedule.name.capitalize, work_schedule
                %td= link_to 'Destroy', work_schedule, :method => :delete, :data => { :confirm => 'Are you sure?' }

