
<style type='text/css'>

	body {
		margin: 20px 200px 20px 20px;
		text-align: center;
		font-size: 13px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}

	#calendar {
		width: 100%;
	}

</style>


<div id='calendar'></div>
<br/>
<input type="button" id="submit_calendar" value="Submit" />


