/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * Before all.
 *= require pace-theme-flash
 *= require select2
 *= require jquery.sidr.light
 *
 *= require messenger
 *= require messenger-theme-flat
 *= require messenger-spinner
 *
 * Before Framework.
 *= require jquery.dataTables
 *= require bootstrap-checkbox
 *=	require datatables.responsive
 *
 * Framework Css Require.
 *= require ./framework/bootstrap.min
 *= require ./framework/bootstrap-theme.min
 *= require font-awesome
 *= require ./framework/animate.min
 *
 * Template Css Require.
 *= require ./template/style
 *= require ./template/responsive
 *= require ./template/custom-icon-set
 *= require self
 *= require regions
 *= require work_schedules
 *= require datepicker3
 *= require jquery.timepicker
 *= require cars
 *= require chosen
 */



.custom_infowindow{
	background-color:white;
}

.map-tooltip{
	height: 100%;
	margin: 1px;
	padding: 4px;
	margin: 0 0 -18px 0;
	border-top-color: rgba(0, 0, 0, 0.8);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

#calendar {
	width: 100%;
}

.input-append{
	margin-left: 10px;
}



