.none
  = simple_form_for(:declined_order, url: root_path, html: { id: 'form-decline-order' }, method: :put) do |f|
    = f.input :reason, input_html: { id: 'js-input-reason' }
    = f.input :notif_id, input_html: { id: 'js-input-notif-id' }