%h1 Listing rules

%table
  %tr
    %th
    %th
    %th

  - @rules.each do |rule|
    %tr
      %td= link_to 'Show', rule
      %td= link_to 'Edit', edit_rule_path(rule)
      %td= link_to 'Destroy', rule, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rule', new_rule_path
