.content

  .row
    .col-md-12
      .page-title
        = link_to raw("<i class='icon-custom-left'></i>"), rules_path
        %h3
          Create Rule
  .row
    .col-md-12
      .grid.simple
        .grid-title 
          %h4
            Rule 
            %span.semi-bold details
        .grid-body 
          .row
            .col-md-8.col-sm-8.col-xs-8
              = render 'form'
