
.row
	.col-md-12
		.grid.simple
			.grid-body 
				.form-group
					= label_tag :name
					= text_field_tag :name

.row
	.col-md-12
		.grid.simple
			.grid-body 
				.form-group
					.row
						.col-md-12
							.pull-right
								= text_field_tag :address
								%input{ :type=>"button", :value => "Search", :id => "repan_map" , :class => "btn btn-primary"}

				.form-group
					#map_canvas

				.form-group
					%input{ :type=>"button", :value => "Submit", :id => "submit_polygon" , :required => true, :class => "btn btn-primary"}
