
.form-group
  = label_tag :name
  = text_field_tag :name

.form-group
  Zoom
  = text_field_tag :address
  %input{ :type=>"button", :value => "Rezoom", :id => "repan_map" , :class => "btn btn-primary"}

.form-group
  #map_canvas

.form-group
  %input{ :type=>"button", :value => "Submit", :id => "submit_polygon" , :required => true, :class => "btn btn-primary"}
