.row
  .col-md-12
    .page-title
      %h3
        Regions List 
        = link_to 'New', new_region_path, class: "btn btn-success btn-small"
.row
  .col-md-12
    .grid.simple
      .grid-body
        %table.table.no-more-tables
          %thead
            %tr
              %th Name
              %th
              %th

          %tbody           
            - @regions.each do |region|
              %tr
                %td= link_to region.name, region
                %td= link_to 'Edit', edit_region_path(region)
                %td= link_to 'Destroy', region, :method => :delete, :data => { :confirm => 'Are you sure?' }



