.row
  .col-md-12
    .page-title
      %h3
        Plans List 
.row
  .col-md-12
    .grid.simple 
      .grid-body
        %table.table.no-more-tables
          %thead
            %tr
              %th Name
              %th
              %th
              %th
              %th
          %tbody
            - @plans.each do |plan|
              %tr
                %td= link_to plan.try(:plan_type).try(:name), plan
                %td= link_to 'Switch', new_subscription_path(:plan_id => plan.id)
                - if current_user.has_role?(:admin)
                  %td= link_to 'Edit', edit_plan_path(plan)
                  %td= link_to 'Destroy', plan, :method => :delete, :data => { :confirm => 'Are you sure?' }

